.update-org-form{
    min-height: 100vh;
}

.org_owner {
    color: var(--red);
    font-weight: 800;
}
.admin {
    color: var(--orange);
    font-weight: 800;
}
.team_leader {
    color: var(--yellow);
    font-weight: 600;
}
.team_member {
	color: var(--gray);
}
.org-new-users {
	width: 100%;
	height: fit-content;
}

.nav-link {
    -moz-user-select: none; 
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-user-drag: none; 
}

.nav-link:focus{
    outline: none;
}

.search-input{
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-group > .search-input{
    position: relative;
    flex: 1 1;
    min-width: 0;
    margin-bottom: 0;
}