.update-org-form{
    min-height: 100vh;
}

.org_owner {
    color: var(--red);
    font-weight: 800;
}
.admin {
    color: var(--orange);
    font-weight: 800;
}
.team_leader {
    color: var(--yellow);
    font-weight: 600;
}
.team_member {
	color: var(--gray);
}
.org-new-users {
	width: 100%;
	height: fit-content;
}