.org-component .title-container .title-flex{
	display: flex;
	width: 95%;
}

.title-container .title-flex .title-div{
	width: fit-content;
	height: fit-content;
	flex: 1;
}	

.new-org-button{
	margin-top: 5px;
    height: fit-content;
    width: 150px;
    padding: 10px;
    font-size: 15px;
    background-color: steelblue;
    color: white;
    border: none;
    opacity: 70%;
}

.new-org-button:hover{
	opacity: 100%;
}