.sidebar {
	width: 5rem;
	height: 100vh;
	position: fixed;
    background-color: var(--bg-secondary);
    
}

.sidebar-nav {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
    height: inherit;
   
}

.sidebar-item {
    /* width: 55px; */
    height: 6rem;
    /* padding: 10px; */
    opacity: 50%;
    transition: .3s;  
    width: 80px;
}

.current-window{
    opacity: 100%;
}

.sidebar-item:hover{
    opacity: 100%;
    box-shadow:inset 2px 0px 0px 0px white;
    
}


.sidebar-item:last-child {
    margin-top: auto;
 
}


.sidebar-link {
	display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 5rem;
    text-decoration: none !important;
}

.sidebar-link span{
    width: fit-content;
}

.sidebar-link img{
    min-width: 3rem;
    width: 80%;
    height: auto;

}

.sidebar-link .logo-img{
    width: 100%;
}

.link-text, .link-text:hover{
    color: white;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}

.logo-item{
    width: 80px;
    padding:10px 0;
    background-color: var(--bg-tertiary);
}

.logo-item .nav-link{
    padding: 0;
}

