.todo-form{
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    
}

.todo-form .group{
    display:flex;
    flex-direction: column;
    padding: 15px 0;
}

.todo-overlay{
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    min-width: 400px;
    max-width: 600px;
    margin: 0;
}

.todo-form input{
    font-size: 16px;
    height: fit-content;
    padding: 5px 0;
    width: 95%;
}

.todo-form .save-button{
    width: 95%;
    padding: 15px;
    background-color: var(--bg-primary);
    border: none;
    font-size: 20px;
    color: white;
    font-weight: 600;
}

.group .error-label{
    color: var(--bg-primary);
}

.bg-full{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}